*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
header{
    display: flex;
    justify-content: space-between;
    background-color: chocolate;

}
#bt-fechar{
    display: none;

}
.menu-principal{
    position: relative;
    left: auto;
    top: auto;
    height: 70vw;
    width: 100vh;
    background-color: chocolate;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.menu-principal li{
    list-style: none;
    color: aliceblue;
    font-size: 1.5em;

}
